<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Projects</title>
    <meta name="viewport" content="width=device-width">

    <!-- links to make the page load faster -->
    <link rel="preload" as="style" href="resources/css/styles.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <!-- end of links to make the page load faster -->

    <link type="text/css" href="browserreset.css" rel="stylesheet"/>
    <link type="text/css" href="styles.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/2d2cadd290.js" crossorigin="anonymous"></script>
    
    
  </head>
  <STYLE>A {text-decoration: none;} </STYLE>
  <body>
    <div id="your-element-selector" class="background"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.halo.min.js"></script>
    script.
      VANTA.HALO({
        el: "#your-element-selector",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      baseColor: 0xcd205d,
      backgroundColor: 0x0,
      amplitudeFactor: 0.00,
      yOffset: 0.11,
      size: 3.00
      })
    
    <div class="main-content">
      
    <h1 class="title">My Projects</h1>
    
    
    <a href="">
    <p class="paragraph">Send me an email</p>
    </a>
    <p class="paragraph">Find me on</p>
    
    
    <div class="icons">
    <a href="https://www.figma.com/@dennisechavez">
      <i class="fab fa-figma"></i>
    </a>
    <a href="https://github.com/dennisechavez">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://twitter.com/dennisechavezg">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://paypal.me/dennisecg?locale.x=en_US">
      <i class="fab fa-cc-paypal"></i>
    </a>  
    </div>  
    </div> 
      
      <footer>
      </footer>

    <script src="main.js"></script>
    </body>
  </html>