extends layouts/base

block mainContent
  <div class="main-content">
    
  <h1 class="title">My Projects</h1>
  
  <a href="">
  <p class="paragraph">Send me an email</p>
  </a>
  <p class="paragraph">Find me on</p>
  
  
  <div class="icons">
  <a href="https://www.figma.com/@dennisechavez">
    <i class="fab fa-figma"></i>
  </a>
  <a href="https://github.com/dennisechavez">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://twitter.com/dennisechavezg">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://paypal.me/dennisecg?locale.x=en_US">
    <i class="fab fa-cc-paypal"></i>
  </a>  
  </div>  
  </div> 